.myLearning-card {
  width: 50%;
  height: auto;
  background-color: #fff;
  padding: 1rem;
  gap: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.myLearning-card:hover {
  border: 1px solid #2e8dff;
  background-color: #e8eff6;
}

.image-container {
  flex: 35%;
  height: 15rem;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.text {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 65%;
  padding-right: 2rem;
  height: 100%;
  gap: 2rem;
}

.course {
  width: 100%;
  justify-content: space-between;
}

.course h2 {
  font-size: 2rem;
  font-weight: 700;
}

.course svg {
  fill: #b1b1b1;
  /* padding: ; */
}

.author-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #6a6a6a;
}

.progress-container {
  width: 100%;
}

.progress-bar {
  width: 100%;
  /* height: 10px; */
}

.progress-bar::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 2rem;
}

.progress-bar::-webkit-progress-value {
  background-color: #2e8dff; /* Change the color to blue */
  border-radius: 2rem;
}

.progress-container p {
  color: #686868;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 800px) {
  .myLearning-card {
    width: 100%;
  }
}
