.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.login-box {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.button {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.button-signup {
  background-color: #3498db;
  margin-bottom: 10px;
}

.button-login {
  background-color: #7f8c8d;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.button-google {
  background-color: #4285f4;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 12px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 4px;
  display: inline-block;
}

.button-google:hover {
  background-color: #357abd;
}

.passwordContainer {
  position: relative;
  width: 100%;
  padding-right: 5rem;
  outline-width: 2px;
  outline-color: #778899;
}

.inputField {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #94a3b8;
  border-radius: 5px;
  outline-width: 2px;
  outline-color: #60a5fa;
}

.togglePasswordVisibility {
  position: absolute;
  top: 43%;
  right: 3.3rem;
  transform: translateY(-90%);
  z-index: 0;
}
