.content__container {
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 3rem 6rem 1rem 4rem;
  gap: 1.5rem;
}

.chapter__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
  gap: 1rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.chapter-content__container {
  align-items: flex-start;
  flex-direction: column;
}

.chapter__header {
  font-size: 2rem;
  font-weight: 500;
}

.number-of-videos {
  font-size: 1.5rem;
  font-weight: 500;
  color: #616161;
}

.chevron-right__icon {
  width: 3rem;
  height: auto;
  stroke: #949494;
  cursor: pointer;
}

.chevron-right__container {
  align-self: center;
}

.check__icon {
  width: 3rem;
  height: auto;
  stroke: #9fcb66;
  fill: #9fcb66;
}

.action-button {
  border-radius: 1rem;
  background-color: #2e8dff;
  color: #fbfbfb;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}
