.container {
  display: flex;
  border: 1px solid red;
  width: 40vw;
  margin-left: 1rem;
  box-sizing: border-box;
}

.title {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  margin-left: 1rem;
}

.friendSuggestions {
  background-color: white;
  border: 1px solid red;
  margin-left: 1rem;
  height: 20rem;
  width: 40vw;
}

.friendsContainer {
  margin-top: 7rem;
}

.newFriend {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid yellow;
  height: 7rem;
  width: 50rem;
  margin-right: 5rem;
}

.newFriend:hover {
  scale: 1.02;
}

.viewAllFriendSuggestions {
  padding: 1rem;
  padding-left:3rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(46 141 255);
  height: 6rem;
  border: 1px solid rgb(0, 255, 106);
  margin-top:1rem;
  background-color: white;
  width: 40vw;
}

.friendName {
  display: flex;
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2rem;
  border: 2px solid black ;
  width: 100rem;
}

.friendImg {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.addFriend {
  padding: 1rem;
  background-color: rgb(46 141 255);
  border-radius: 1rem;
}

.btnAddFriend {
  font-size: 2rem;
  color: white;
  /* border: 1px solid rgb(255, 89, 0); */
  margin-left: 30rem;
  margin-top: 1rem;
}

.friendClose {
  border: 1px solid rgb(0, 255, 106);
  display: flex;
  margin-left: 5rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  color: black;
}

.horizontalLine {
  border: 2 solid blue;
  position: absolute;
  top: 8.5rem;
  width: 100%;
  margin-left: 1rem;
  margin-right: auto;
}
/* 
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    bottom: 0rem;
    margin-left: 0rem;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    bottom: -5rem;
    margin-right: 100rem;
  }

  .title {
    margin-right: 0rem;
  }
}
 */