.header-text {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 5rem;
  width: 50vh;
  margin-top: 3rem;
}

.cards-container {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 55rem;
  margin-left: 4rem;
}
