.home-container__courses {
  gap: 2rem;
  margin: 0;
  padding: 0;
  margin-left: 4rem;
  align-items: flex-start;
}

.home-container__courses section ul li {
  width: 100%;
}

@media (max-width: 650px) {
  .home-container__courses {
    grid-template-columns: 1fr;
  }
}
