.course-card {
  flex-direction: column;
  background-color: #fbfbfb;
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;
  height: 16rem;
  width: 14rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  margin: 0.5rem;
}

.course-card:hover {
  scale: 1.02;
}

.course-image__container {
  width: 14rem;
  height: 14rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0rem;
}

.course-image__container img {
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
}

.course-name {
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  padding: 0.4rem;
}

.course-info {
  color: #b1b1b1;
  width: 100%;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0.1rem;
}

.course-quantity {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
