.header-text {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.features-container {
  width: 55rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  padding-left: 2rem;
  margin-top: 2rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
}
