.course-preview__container {
  padding-top: 3rem;
  background-color: #fbfbfb;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  gap: 10rem;
  justify-content: space-between;
}

.container {
  margin: 0 2rem;
  padding-top: 3rem;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.media-container {
  width: 100%;
  height: 40rem;
  border: 1px solid rgb(255, 246, 246);
}

.text {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
}

.icon {
  width: 1.5rem;
}

.media-container img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.course-content__container {
  margin-left: 2rem;
}

.author-container {
  gap: 1rem;
  color: #303030;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 4rem;
  padding: 0.1rem 1rem 0.1rem 0.1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.author-container:hover {
  opacity: 0.7;
}

.author-image__container {
  width: 4rem;
  height: 4rem;
}

.author-container img {
  width: 100%;
  height: 100%;
  border-radius: 50rem;
}

.course-description__container {
  margin-left: 2rem;
  font-size: 1.2rem;
  color: #666;
}

.course-info {
  flex-direction: column;
  align-items: flex-start;
  color: #b1b1b1;
  width: 100%;
  /* justify-content: space-between; */
  font-weight: 600;
  font-size: 1.5rem;
  gap: 1rem;
}

.course-duration,
.course-rate {
  gap: 0.5rem;
  align-items: center;
}

.actions-container {
  margin: 0 2rem;
  justify-content: space-between;
  gap: 2rem;
  width: 90%;
  margin-bottom: 2rem;
}

.action-button {
  flex: 1;
  border-radius: 1rem;
  background-color: #2e8dff;
  color: #fbfbfb;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}

.action-button:hover {
  background-color: #fbfbfb;
  border: 1px solid #2e8dff;
  color: #2e8dff;
}

.action-button__review {
  background-color: #fbfbfb;
  border: 1px solid #2e8dff;
  color: #2e8dff;
}

.action-button__review:hover {
  border-radius: 1rem;
  background-color: #2e8dff;
  color: #fbfbfb;
}
@media (max-width: 650px) {
  .course-preview__container {
    grid-row: 1;
  }
}
