.progress-container {
  width: 100%;
}

.progress-bar {
  width: 100%;
}

.progress-bar::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 2rem;
}

.progress-bar::-webkit-progress-value {
  background-color: #2e8dff;
  border-radius: 2rem;
}

.progress-container p {
  color: #686868;
  font-size: 1.2rem;
  font-weight: 500;
}
