.section {
  padding-bottom: 4rem;
  border-bottom: 2px solid #ebebeb;
}

.header {
  font-size: 1.2rem;
  font-weight: 600;
  color: #303030;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.category {
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 20px;
  width: 140px;
  margin: 5px;
}

.checkbox {
  margin-right: 1rem;
}
