.li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 2rem;
  width: 15rem;
  height: 7rem;
  margin-right: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.li:hover {
  border: 2px solid rgb(46 141 255);
  background-color: rgb(232 239 246);
  color: rgb(46 141 255);
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  margin-top: 1rem;
  color: #686868;
}

.parent {
  margin-bottom: 3rem;
}
