
.main {  
  display: flex;
  width: 58rem;
  height: 18rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.img {
  width: 15rem;
  height: 15rem;
}

.img:hover {
  scale: 1.02;
}

.name {
  font-size: 2rem;
  margin-left: 1rem;
}

.name:hover {
  scale: 1.02;
}

.citye {
  margin-top: 1.5rem;
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 700;
}

.box {
  width: 35rem;
  height: 10rem;
  border: 6px solid rgb(253, 252, 252);
  margin-left: 1rem;
  border-radius: 2rem;
  margin-top: 1.5rem;
  box-sizing: border-box;
  background-color: rgb(239, 239, 239);
}

.gryBox {
  width: 9rem;
  background-color: rgb(239, 239, 239);
  padding: 1.2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.text {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(116, 116, 116);
  margin: .5rem;
}

.numbers {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem;
}