.container {
  display: flex;
  /* border: 1px solid red; */
  width: 60rem;
  height: 35rem;
  margin-left: 1rem;
  box-sizing: border-box;
}

.title {
  width: 20rem;
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.friends {
  border: 2px solid white;
  background-color: white;
  margin-left: 1rem;
  width: 55rem;
  height: 20rem;
}

.friendsContainer {
  width: 56rem;
  margin-top: 1rem;
}

.newFriend {
  position: relative;
  text-align: center;
  display: flex;
  padding: 1rem;
  /* border: 1px solid red; */
  float: right;
  height: 7rem;
  margin-right: 5rem;
}

.newFriend:hover {
  scale: 1.02;
}

.viewAllFriends {
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: start;
  color: rgb(46 141 255);
  height: 6rem;
  /* border: 1px solid rgb(0, 255, 106); */
  margin-top: 17rem;
  background-color: white;
  width: 55rem;
}

.viewAllFriends:hover {
  scale: 1.02;
}

.friendName {
 /*  border: solid; */
  width: 20rem;
  text-align: left;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
}

.friendImg {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.horizontalLine {
  position: absolute;
  top: 8.5rem;
  width: 100%;
  margin-left: 1rem;
  margin-right: auto;
}

.profile {
  color: rgb(46 141 255);
  font-weight: 600;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  margin-left: 15rem;
}
/* 
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    bottom: 0rem;
    margin-left: 0rem;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    bottom: -10rem;
    margin-right: 100rem;
  }

  .title {
    margin-right: 0rem;
  }
}
 */