.container {
  padding-right: 5rem;
  display: flex;
  position: relative;
  /* border: 1px solid red; */
  float: right;
  bottom: 80rem;
  width: 80rem;
  margin-left: 70rem;
  box-sizing: border-box;

}

.title {
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  margin-bottom: 20rem;
  margin-left: 5rem;
}

.friends {
  float: right;
  clear: right;
  background-color: white;
  /* border: 1px solid red; */
  margin-left: 5rem;
  height: 20rem;
}

.friendsContainer {
  margin-top: 8rem;
}

.newFriend {
  position: relative;
  text-align: center;
  float: left;
  clear: left;
  display: flex;
  padding: 1rem;
  width: 70rem;
  /* border: 1px solid red; */
  float: right;
  height: 7rem;
  margin-right: 5rem;
}

.newFriend:hover {
  scale: 1.02;
}

.viewAllFriends {
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: start;
  color: rgb(46 141 255);
  height: 6rem;
  /* border: 1px solid rgb(0, 255, 106); */
  margin-top: 17rem;
  background-color: white;
  width: 75rem;

}

.viewAllFriends:hover {
  scale: 1.02;
}

.friendName {
  width: 30rem;
  text-align: left;
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
}

.friendImg {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.horizontalLine {
  position: absolute;
  top: 8.5rem;
  width: 100%;
  margin-left: 1rem;
  margin-right: auto;


}

.profile {
  color: rgb(46 141 255);
  font-weight: 600;
  margin-top: 1.5rem;
  font-size: 2rem;
  margin-left: 25rem;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    bottom: 0rem;
    margin-left: 0rem;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    bottom: -10rem;
    margin-right: 100rem;
  }

  .title {
    margin-right: 0rem;
  }
}