.container {
  display: flex;
  width: 60rem;
  height: 35rem;
  margin-left: 1rem;
  box-sizing: border-box;
}

.title {
  width: 20rem;
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.friends {
  border: 2px solid white;
  background-color: white;
  margin-left: 1rem;
  width: 55rem;
  height: 20rem;
  border-radius: 2rem;
}

.friendsContainer {
  width: 56rem;
  margin-top: 1rem;
}

.newFriend {
  position: relative;
  text-align: center;
  display: flex;
  padding: 1rem;
  float: right;
  height: 7rem;
  margin-right: 5rem;
}

.newFriend:hover {
  scale: 1.02;
}

.viewAllFriends {
  padding-left: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: start;
  color: rgb(46 141 255);
  height: 6rem;
  margin-top: 17rem;
  background-color: white;
  width: 55rem;
  margin-left: -0.2rem;
  cursor: pointer;
}

.friendName {
  width: 20rem;
  text-align: left;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3rem;
}

.friendImg {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.horizontalLine {
  position: absolute;
  top: 8.5rem;
  width: 51rem;
  margin-left: 1rem;
  margin-right: auto;
}

.profile {
  color: rgb(46 141 255);
  font-weight: 600;
  margin-top: 3rem;
  font-size: 1.5rem;
  margin-left: 15rem;
  cursor: pointer;
}
